html, body {
  margin: 0;
  padding: 0;
  background-color: black;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.texture-container > * {
  display: none;
}

canvas {
  width: 100vw;
  height: 100vh;
}

.dashboard {
  width:280px;
  position: absolute;
  bottom: 10px;
  width: 100vw;
  left: 0;
  color: cyan;
  font-family: Consolas;
  font-size:2.5em;
  display: none;
  justify-content: space-between;
}

.dashboard-container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  margin: 0 5% 1% 5%;
}

.shield-points {
  width: 8px;
  height:60px;
  background-color: cyan;
  margin-left: 15px;
}

#shield-1, #display-speed, #display-score { margin-left: 30px; }

#display-score {
  margin-bottom: 20px;
}

p { margin: 0; }

.crosshairs {
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}

.main-menu {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0,255,255, 0.3);
  flex-direction: column;
  color: white;
  padding: 30px;
  border: 2px outset white;
  border-radius: 5px;
}

.btn {
  margin: 5px;
  padding: 5px;
  font-size: 18px;
  background-color: #10F;
  color: white;
  width: 90%;
  border-radius: 5px;
}

hr {
  height: 1px;
  color: white;
  background-color: white;
  border-color: white;
  width: 100%;
}

#game-title {

}
