html, body {
  margin: 0;
  padding: 0;
  background-color: black;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.texture-container > * {
  display: none;
}

canvas {
  width: 100vw;
  height: 100vh;
}

.dashboard {
  width:280px;
  position: absolute;
  top: 10px;
  right:50px;
  color: cyan;
  font-family: Consolas;
  font-size:1.8em;
}

.dashboard-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.shield-points {
  width: 8px;
  height:60px;
  background-color: cyan;
  margin-left: 15px;
}

#shield-1, #display-speed { margin-left: 30px; }

#display-score {
  margin-bottom: 20px;
}
